img {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.light-switch{
    height: 150px;
    margin-left: 50px;
    display: flex;
    flex-wrap:wrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

}

.button{
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 20px;
}
body{

}
